* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000;
}

li {
  list-style: none;
}

main.container {
  width: 800px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  background-color: #ffffffea;
  padding: 2rem 2.5rem;
  border-radius: 0.3rem;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
}

hr {
  height: 0;
  margin: 1rem auto;
  border: 0;
  border-top: 0.5px solid #eeaeca;
  width: 100%;
}

div.tasks_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div.tasks_container div.addTask {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div.tasks_container div.btn {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}

div.title {
  text-align: center;
}

div.tasks_container {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

div.tasks {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
}

ul.tasks_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

ul.tasks_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.tasks_list li span.name {
  font-size: 18px;
  font-weight: bold;
}

ul.tasks_list li span.email {
  font-size: 14px;
  font-style: italic;
}

ul.tasks_list li div.client {
  display: flex;
  flex-direction: column;
}
/* Button and input */

input,
button {
  border: none;
  border-radius: 0.4rem;
  padding: 0.75rem;
  box-shadow: 0 0 3px #000;
}

button {
  font-weight: bold;
  background-color: #eeaeca;
  font-size: 18px;
  transition: 500ms;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button.btn_delete {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background-color: #ff4d6d;
}

button.btn_add:hover {
  box-shadow:
    0 0 5px #eeaeca,
    0 0 10px #eeaeca;
}

button.btn_delete:hover {
  box-shadow:
    0 0 5px #ff4d6d,
    0 0 10px #ff4d6d;
}
