$font-sec-color: #8a7961;
$font-third-color: #e4e3e2;
$font-four-color: #9c9c9c;

$main-color: #f46629;
$sec-color: #f1f1f1;

$form-color: #000;
$main-review-container: #000;

$footer-background: #131313;
$input-textarea-background: #1a1a1a;
